# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist.zip
*.zip
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore large build archive
/dist.zip

#ignore .env files
.env
.env.devlopment
.env.production
.env.example

#ignore .certs files
.certs

#ignore .github files
.github

#ignore .claude files
.claude


