@charset "utf-8";

@use "mixin" as *;
$size: 55px;
$height: 14px;
$width: 18px;
$line-size: 2px;
$line-color: #fff;
$line-radius: $line-size;
$to-translate: calc(($height - $line-size) / 2);
$bounce: cubic-bezier(.87, -.5, .19, 1.5);

.menu {
  position: relative;
  z-index: 11;
  overflow: hidden;
  width: $size;
  height: $size;
  border: 1px solid #31b1d6;
  // border-radius: 6rem;
  background: #31b1d6;
  cursor: pointer;
  transition: all ease .3s;

  @include sp2 {
    width: 45px;
    height: 45px;
  }
  &--menuleft {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 4.5rem;
    height: 4.5rem;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $width;
    height: $height;
    transform: translate(-50%, -50%);

    @include sp2 {
      width: 20px;
      height: 15px;
    }
  }

  &__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: $line-size;
    background-color: $line-color;
    pointer-events: none;

    &--1 {
      top: 0;
    }

    &--2 {
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &--3 {
      bottom: 0;
    }
  }

  /* --- Close Button 5 --- */

  &--close5 &__line--4,
  &--close5 &__line--5 {
    top: $to-translate;
    opacity: 0;
    transition: opacity .2s ease-in-out,
    transform .2s ease-in-out;
  }

  &--close5 &__line--1 {
    width: 100%;
    transition: width .2s ease-in-out .4s;
  }

  &--close5 &__line--2 {
    width: 100%;
    transition: width .2s ease-in-out .3s;
  }

  &--close5 &__line--3 {
    width: 100%;
    transition: width .2s ease-in-out .2s;
  }

  &--close5 &__line--4 {
    transition: opacity .2s ease-in-out .2s,
    transform .2s ease-in-out .2s;
    transform: rotate(45deg) translate3d(-$width, 0, 0);
  }

  &--close5 &__line--5 {
    transition: opacity .2s ease-in-out,
    transform .2s ease-in-out;
    transform: rotate(-45deg) translate3d($width, 0, 0);
  }
  // Open
  &--close5.open {
  }

  &--close5.open &__line--1 {
    width: 0;
    transition: width .2s ease-in-out;
  }

  &--close5.open &__line--2 {
    width: 0;
    transition: width .2s ease-in-out .1s;
  }

  &--close5.open &__line--3 {
    width: 0;
    transition: width .2s ease-in-out .2s;
  }

  &--close5.open &__line--4 {
    opacity: 1;
    transition: opacity .2s ease-in-out .2s,
    transform .2s ease-in-out .2s;
    transform: rotate(45deg) translate3d(0, 0, 0);
  }

  &--close5.open &__line--5 {
    opacity: 1;
    transition: opacity .2s ease-in-out .4s,
    transform .2s ease-in-out .4s;
    transform: rotate(-45deg) translate3d(0, 0, 0);
  }
}
