@charset "UTF-8";
/* ==================================================
	breadcrumb（パンくず）
================================================== */
#breadcrumb {
  display: none;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px; }

/* ▽ SP layout ========== */
  @media only screen and (max-width: 767px) {
    #breadcrumb {
      display: none; } }

/* ========== end △ */
  #breadcrumb ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

/* ▽ PC-TAB layout ========== */
  @media print, screen and (min-width: 768px) {
    #breadcrumb {
      display: block;
      text-align: right;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

/* ========== end △ */
  #breadcrumb li {
    font-size: 13px;
    margin-right: 10px;
    position: relative;
    padding-left: 15px; }
    #breadcrumb li:first-child {
      color: #fe4e01;
      text-align: left;
      font-weight: bold;
      padding-left: 0; }
    #breadcrumb li::before {
      content: "/";
      margin-right: 6px;
      color: #fe4e01;
      font-size: 15px;
      font-family: FontAwesome;
      position: absolute;
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%; }
    #breadcrumb li:first-of-type::before {
      display: none; }
    #breadcrumb li a {
      text-decoration: none;
      color: #fe4e01;
      font-weight: bold; }
      #breadcrumb li a:hover {
        text-decoration: underline; }

/* ==================================================
	pagination
================================================== */
.pagination {
  margin-top: 30px; }

/* ▽ PC-TAB layout ========== */
  @media print, screen and (min-width: 768px) {
    .pagination {
      margin-top: 50px; } }

/* ========== end △ */
  .pagination .prev {
    float: left; }
  .pagination .next {
    float: right; }
  .pagination .back {
    text-align: center; }
