@charset "UTF-8";
/* ======================================================================
    Mainvisual
====================================================================== */
.tt-page {
  position: relative;
  margin: 95px 30px 120px;
  padding: 0 0 0 10;
  background: url(../images/top/slider-trans.jpg) no-repeat center center;
  background-size: cover;
}
@media only screen and (width <= 1024px) {
  .tt-page {
    padding-left: 50px;
  }
}
@media only screen and (width <= 767px) {
  .tt-page {
    margin-right: 0;
    margin-bottom: 50px;
    margin-left: 0;
    padding-left: 30px;
  }
}
.tt-page:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-backdrop-filter: blur(31px);
  backdrop-filter: blur(31px);
}
.tt-page__content {
  width: 100%;
}
.tt-page__wrap {
  position: relative;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 440px;
}
@media only screen and (width <= 767px) {
  .tt-page__wrap {
    padding-bottom: 20px;
    height: 250px;
  }
}
.tt-page__heading {
  margin-bottom: 20px;
  color: #fff;
  font-size: 60px;
}
@media only screen and (width <= 1600px) {
  .tt-page__heading {
    font-size: 50px;
  }
}
@media only screen and (width <= 1024px) {
  .tt-page__heading {
    font-size: 7vw;
  }
}
@media only screen and (width <= 767px) {
  .tt-page__heading {
    font-size: 16.5px;
  }
  .c-breadcrumb__item {
    font-size: 16.5px !important;
  }
  .text-xl,
  .text-lg {
    font-size: 16.5px !important;
    margin-bottom: 10px;
  }

  .fleet-table th,
  .fleet-table td {
    padding: 5px;
    font-size: 12px;
  }
}
.tt-page .c-border {
  margin: 0;
  background: rgba(235, 235, 235, 0.349);
}
.tt-page .c-border:after {
  display: none;
}

/* ======================================================================
      c-breadcrumb
====================================================================== */
.c-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}
@media print, screen and (width >= 768px) {
  .c-breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: right;
  }
}
.c-breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0;
  padding: 5px 20px;
  background: rgba(255, 255, 255, 0.059);
}
.c-breadcrumb__item {
  position: relative;
  margin-right: 10px;
  padding-left: 15px;
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 16.5px;
}
.c-breadcrumb__item:first-child {
  padding-left: 0;
  text-align: left;
  font-weight: 500;
}
.c-breadcrumb__item:last-child:before {
  display: none;
}
.c-breadcrumb__item::before {
  position: absolute;
  top: 50%;
  right: -15px;
  z-index: 3;
  width: 7px;
  height: 7px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-radius: 1px;
  content: "";
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
}
.c-breadcrumb__item:first-of-type::before {
  content: "";
}
.c-breadcrumb__item a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.c-breadcrumb__item a:hover {
  text-decoration: underline;
}

/* ======================================================================
  Market
====================================================================== */
.market__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (width <= 767px) {
  .market__content--spec {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .market__content--spec > * {
    width: 100%;
  }
  .market__content--spec .market__left {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}
.market__box1 {
  padding-bottom: 100px;
}
@media only screen and (width <= 767px) {
  .market__box1 {
    padding-bottom: 50px;
  }
}
.market__box2 {
  padding: 100px 0;
  background: url(../images/top/partner-dot-bg.png) center center;
}
@media only screen and (width <= 767px) {
  .market__box2 {
    padding: 50px 0;
  }
}
.market__box2-wrap {
  margin-bottom: 40px;
  padding: 50px;
  border-top: 8px solid var(--color-secondary);
  background: #fff;
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
@media only screen and (width <= 1024px) {
  .market__box2-wrap {
    padding: 30px 20px;
  }
}
@media only screen and (width <= 767px) {
  .market__box2-wrap {
    margin: 0 -20px 40px;
    padding: 20px 10px;
    border-top: 5px solid var(--color-secondary);
  }
}
.market__box2-info {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--color-border);
  font-size: var(--font-size-mid);
}
@media only screen and (width <= 767px) {
  .market__box2-info {
    font-size: var(--font-size-sm12);
  }
}
.market__box2-info .form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
}
@media only screen and (width <= 767px) {
  .market__box2-info .form-wrap {
    gap: 10px;
  }
}
.market__box2-info .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 48%;
}
@media only screen and (width <= 767px) {
  .market__box2-info .form-group {
    width: auto;
    width: 100%;
  }
}
.market__box2-info label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 140px;
}
@media only screen and (width <= 767px) {
  .market__box2-info label {
    min-width: 120px;
  }
}
.market__box2-price {
  font-size: var(--font-size-mid);
}
@media only screen and (width <= 767px) {
  .market__box2-price {
    font-size: var(--font-size-sm12);
  }
}
.market__box2-price input[type="checkbox"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: auto;
}
.market__box2-spilit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.market__box2-fixed {
  min-width: 200px;
}
@media only screen and (width <= 767px) {
  .market__box2-fixed {
    min-width: 80px;
  }
}
.market__box2-fixed ul li {
  margin-bottom: 10px;
  padding: 10px 0;
}
.market__box2-fixed ul li.market__photo {
  height: 200px;
}
.market__box2-slider {
  padding: 0 20px;
  max-width: calc(100% - 200px); /* Giới hạn chiều rộng */
  width: 100%;
}
@media only screen and (width <= 767px) {
  .market__box2-slider {
    padding: 0;
    max-width: calc(100% - 80px); /* Giới hạn chiều rộng */
  }
}
.market__box2-item {
  margin: 0 10px;
  width: calc(50% - 20px);
}
@media only screen and (width <= 767px) {
  .market__box2-item {
    margin: 0 5px;
    width: 100%;
  }
}
.market__box2-item > li {
  margin-bottom: 10px;
}
.market__box2-item > li.market__photo {
  width: 100%;
  height: 200px;
}
.market__box2-item > li.market__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.market .slick-prev,
.market .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1000 !important;
  display: block !important;
  opacity: 1 !important;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (width <= 767px) {
  .market .slick-prev,
  .market .slick-next {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (width <= 767px) {
  .market .slick-prev:before,
  .market .slick-next:before {
    line-height: 26px;
  }
}
.market .slick-disabled {
  display: none !important;
  background: gray !important;
}
@media only screen and (width <= 767px) {
  .market .slick-dots {
    bottom: -15px;
    display: none !important;
  }
}
.btn {
  padding: 10px;
  width: 100%;
  border: none;
  background-color: var(--color-secondary);
  color: white;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.btn:hover {
  background-color: var(--color-mid);
}

/* ======================================================================
  Moving
====================================================================== */
.moving__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px 20px 30px;
  border: 2px dashed var(--color-secondary);
  background: #fff;
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
.moving__from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media only screen and (width <= 767px) {
  .moving__from {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
  }
}
.moving__from-title {
  margin-right: 10px;
  border-bottom: 2px dashed var(--color-secondary);
  color: var(--color-secondary);
  font-weight: 600;
}
.moving__from-name {
  font-weight: 600;
  font-size: 20px;
}
@media only screen and (width <= 767px) {
  .moving__from-name {
    font-size: 16.5px;
  }
}
.moving__to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media only screen and (width <= 767px) {
  .moving__to {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
  }
}
.moving__to-title {
  margin-right: 10px;
  border-bottom: 2px dashed var(--color-secondary);
  color: var(--color-secondary);
  font-weight: 600;
}
.moving__to-name {
  font-weight: 600;
}
.moving__to select {
  padding: 10px;
  border: 1px solid #d5d5dd;
  border-radius: 5px;
  color: var(--color-mid);
}
@media only screen and (width <= 767px) {
  .moving__to select {
    padding: 5px 10px;
    font-size: 16.5px;
  }
}
.moving__to option {
  color: var(--color-mid);
}
@media only screen and (width <= 767px) {
  .moving__to option {
    font-size: 16.5px;
  }
}

/* ======================================================================
  Login
====================================================================== */
.login {
  position: relative;
  padding-top: 100px;
  background: url(../images/top/request-quote-bg.jpg) no-repeat center
    center/cover;
}
.login:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  opacity: 0.2;
}
.login:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-backdrop-filter: blur(41px) !important;
  backdrop-filter: blur(41px) !important;
}
.login .container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: calc(100vh - 100px);
}
@media only screen and (width <= 767px) {
  .login .container {
    display: block;
    padding-bottom: 30px;
    min-height: calc(100svh - 85px);
  }
}
.login__form {
  padding: 70px;
  border-top: 4px solid var(--color-secondary);
  background: #fff;
  -webkit-box-shadow: 0 4px 30px 0 rgba(1, 89, 144, 0.5);
  box-shadow: 0 4px 30px 0 rgba(1, 89, 144, 0.5);
}
@media only screen and (width <= 767px) {
  .login__form {
    padding: 20px;
    width: 100%;
  }
}
.login__form-item {
  margin-bottom: 20px;
}
.login__form-item label {
  display: block;
  margin-bottom: 10px;
  min-width: 120px;
  color: var(--color-mid);
  white-space: nowrap;
}
.login__form-item input {
  width: 350px;
}
@media only screen and (width <= 767px) {
  .login__form-item input {
    width: 100%;
  }
}
.login__form-btn {
  margin: 30px 0;
}
.login__form-forgot {
  margin-bottom: 5px;
}
.login__form-forgot a {
  color: var(--color-secondary);
  font-size: 16.5px;
}

.register__box {
  width: 100%;
}
.register__form {
  padding: 70px;
  width: 100%;
  border-top: 4px solid var(--color-secondary);
  background: #fff;
  -webkit-box-shadow: 0 4px 30px 0 rgba(1, 89, 144, 0.5);
  box-shadow: 0 4px 30px 0 rgba(1, 89, 144, 0.5);
}
@media only screen and (width <= 767px) {
  .register__form {
    padding: 20px;
    width: 100%;
  }
}
.register__form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f1f1f1;
}
@media only screen and (width <= 767px) {
  .register__form-item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.register__form-item:first-child {
  border-top: 1px solid #f1f1f1;
}
.register__form-item > label {
  display: block;
  min-width: 220px;
  color: var(--color-mid);
  white-space: nowrap;
}
@media only screen and (width <= 767px) {
  .register__form-item > label {
    margin-bottom: 10px;
    min-width: 100%;
  }
}
.register__form-item input[type="radio"] {
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  width: auto;
}
.register__form-item input[type="text"],
.register__form-item input[type="email"],
.register__form-item input[type="password"] {
  width: 100%;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
@media only screen and (width <= 767px) {
  .register__form-item input[type="text"],
  .register__form-item input[type="email"],
  .register__form-item input[type="password"] {
    width: 100%;
  }
}
.register__form-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
}
.register__form-item2 label {
  cursor: pointer;
}
.register__form-item2 span {
  margin-left: 5px;
}
.register__form-btn {
  margin: 30px 0;
}
.register__form-forgot {
  margin-bottom: 5px;
  text-align: center;
}
.register__form-forgot a {
  color: var(--color-secondary);
  font-size: 16.5px;
}
