/* Elements */
label {
  vertical-align: middle;
}

input,
select,
optgroup,
option,
textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  /* Responsive font size for SP */
}
@media only screen and (width <= 767px) {
  input,
  select,
  optgroup,
  option,
  textarea {
    font-size: 14px;
  }
}

input[type="text"],
input[type="email"] {
  padding: 3px 5px;
  width: 100%;
  border: 1px solid #000;
}
input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.3em;
}
input[type="submit"] {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Disabled state */
}
input[type="submit"][disabled] {
  background-color: #ddd !important;
  cursor: default;
  -webkit-transition: none !important;
  transition: none !important;
}

textarea {
  overflow: hidden;
  padding: 3px 5px;
  width: 100%;
  height: 8em;
  resize: none;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImZvcm0uc2NzcyIsIl9taXhpbi5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUlBO0FBQ0E7RUFDRTs7O0FBR0Y7QUFBQTtBQUFBO0FBQUE7QUFBQTtFQUtFO0VBQ0E7RUFDQTtBQUNBOztBQ2RBO0VETUY7QUFBQTtBQUFBO0FBQUE7QUFBQTtJQVdEOzs7O0FBS0Y7RUFFRTtFQUNBO0VBQ0E7O0FBR0Y7RUFFRTs7QUFHRjtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VBRUE7QUFFQTs7QUFDQTtFQUNFO0VBQ0E7RUFDQTs7O0FBS047RUFDRTtFQUNBO0VBQ0E7RUFDQTtFQUNBIiwiZmlsZSI6ImZvcm0uY3NzIiwic291cmNlc0NvbnRlbnQiOlsiQGNoYXJzZXQgXCJ1dGYtOFwiO1xyXG5cclxuQHVzZSBcIm1peGluXCIgYXMgKjtcclxuXHJcbi8qIEVsZW1lbnRzICovXHJcbmxhYmVsIHtcbiAgdmVydGljYWwtYWxpZ246IG1pZGRsZTtcclxufVxyXG5cclxuaW5wdXQsXG5zZWxlY3QsXG5vcHRncm91cCxcbm9wdGlvbixcbnRleHRhcmVhIHtcbiAgYm94LXNpemluZzogYm9yZGVyLWJveDtcclxuICBtYXJnaW46IDA7XHJcbiAgZm9udC13ZWlnaHQ6IG5vcm1hbDtcclxuICAvKiBSZXNwb25zaXZlIGZvbnQgc2l6ZSBmb3IgU1AgKi9cblxuICBAaW5jbHVkZSBzcCB7XG4gICAgZm9udC1zaXplOiAxNHB4O1xyXG4gIH1cclxuXHJcbiAgJlt0eXBlPVwicmFkaW9cIl0sXG4gICZbdHlwZT1cImNoZWNrYm94XCJdIHtcbiAgICBtYXJnaW4tcmlnaHQ6IDQ4cHg7XHJcbiAgfVxyXG5cclxuICAmW3R5cGU9XCJzdWJtaXRcIl0ge1xuICAgIG1hcmdpbjogMDtcclxuICAgIHBhZGRpbmc6IDA7XHJcbiAgICBib3JkZXI6IG5vbmU7XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiB0cmFuc3BhcmVudDtcclxuXG4gICAgYXBwZWFyYW5jZTogbm9uZTtcclxuXHJcbiAgICAvKiBEaXNhYmxlZCBzdGF0ZSAqL1xyXG4gICAgJltkaXNhYmxlZF0ge1xuICAgICAgYmFja2dyb3VuZC1jb2xvcjogI2RkZCAhaW1wb3J0YW50O1xyXG4gICAgICBjdXJzb3I6IGRlZmF1bHQ7XHJcbiAgICAgIHRyYW5zaXRpb246IG5vbmUgIWltcG9ydGFudDtcclxuICAgIH1cbiAgfVxufVxyXG5cclxudGV4dGFyZWEge1xuICBvdmVyZmxvdzogaGlkZGVuO1xyXG4gIHBhZGRpbmc6IDMwcHggNXB4O1xyXG4gIHdpZHRoOiAxMDAlO1xyXG4gIGhlaWdodDogODBweDtcclxuICByZXNpemU6IG5vbmU7XHJcbiAgfVxyXG4iLCJAY2hhcnNldCBcInV0Zi04XCIsXHJcbkBtaXhpbiBzcCB7XG4gIEBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKHdpZHRoIDw9IDc2N3B4KSB7XG4gICAgQGNvbnRlbnQ7XG4gIH1cbn1cclxuXHJcbkBtaXhpbiB0YiB7XG4gIEBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKHdpZHRoID49IDc2OHB4KSBhbmQgKHdpZHRoIDw9IDEwMjRweCkge1xuICAgIEBjb250ZW50O1xuICB9XG59XHJcblxyXG5AbWl4aW4gdGIyIHtcbiAgQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAod2lkdGggPD0gMTAyNHB4KSB7XG4gICAgQGNvbnRlbnQ7XG4gIH1cbn1cclxuXHJcbkBtaXhpbiBzcDIge1xuICBAbWVkaWEgb25seSBzY3JlZW4gYW5kICh3aWR0aCA8PSA0NjBweCkge1xuICAgIEBjb250ZW50O1xuICB9XG59XHJcblxyXG5AbWl4aW4gcGMge1xuICBAbWVkaWEgcHJpbnQsIHNjcmVlbiBhbmQgKHdpZHRoID49IDc2OHB4KSB7XG4gICAgQGNvbnRlbnQ7XG4gIH1cbn1cclxuXHJcbkBtaXhpbiBwcmludCB7XG4gIEBtZWRpYSBwcmludCB7XG4gICAgQGNvbnRlbnQ7XG4gIH1cbn1cclxuIl19 */
