.menu {
  position: relative;
  z-index: 11;
  overflow: hidden;
  width: 55px;
  height: 55px;
  border: 1px solid #31b1d6;
  background: #31b1d6;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  /* --- Close Button 5 --- */
}
@media only screen and (width <= 460px) {
  .menu {
    width: 45px;
    height: 45px;
  }
}
.menu--menuleft {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 45px;
  height: 45px;
}
.menu__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 14px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (width <= 460px) {
  .menu__icon {
    width: 20px;
    height: 15px;
  }
}
.menu__line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  pointer-events: none;
}
.menu__line--1 {
  top: 0;
}
.menu__line--2 {
  top: 0;
  bottom: 0;
  margin: auto;
}
.menu__line--3 {
  bottom: 0;
}
.menu--close5 .menu__line--4,
.menu--close5 .menu__line--5 {
  top: 6px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out;
}
.menu--close5 .menu__line--1 {
  width: 100%;
  -webkit-transition: width 0.2s ease-in-out 0.4s;
  transition: width 0.2s ease-in-out 0.4s;
}
.menu--close5 .menu__line--2 {
  width: 100%;
  -webkit-transition: width 0.2s ease-in-out 0.3s;
  transition: width 0.2s ease-in-out 0.3s;
}
.menu--close5 .menu__line--3 {
  width: 100%;
  -webkit-transition: width 0.2s ease-in-out 0.2s;
  transition: width 0.2s ease-in-out 0.2s;
}
.menu--close5 .menu__line--4 {
  -webkit-transition: opacity 0.2s ease-in-out 0.2s,
    -webkit-transform 0.2s ease-in-out 0.2s;
  transition: opacity 0.2s ease-in-out 0.2s,
    -webkit-transform 0.2s ease-in-out 0.2s;
  transition: opacity 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0.2s;
  transition: opacity 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0.2s,
    -webkit-transform 0.2s ease-in-out 0.2s;
  -webkit-transform: rotate(45deg) translate3d(-18px, 0, 0);
  transform: rotate(45deg) translate3d(-18px, 0, 0);
}
.menu--close5 .menu__line--5 {
  -webkit-transition: opacity 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out;
  -webkit-transform: rotate(-45deg) translate3d(18px, 0, 0);
  transform: rotate(-45deg) translate3d(18px, 0, 0);
}
.menu--close5.open .menu__line--1 {
  width: 0;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}
.menu--close5.open .menu__line--2 {
  width: 0;
  -webkit-transition: width 0.2s ease-in-out 0.1s;
  transition: width 0.2s ease-in-out 0.1s;
}
.menu--close5.open .menu__line--3 {
  width: 0;
  -webkit-transition: width 0.2s ease-in-out 0.2s;
  transition: width 0.2s ease-in-out 0.2s;
}
.menu--close5.open .menu__line--4 {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out 0.2s,
    -webkit-transform 0.2s ease-in-out 0.2s;
  transition: opacity 0.2s ease-in-out 0.2s,
    -webkit-transform 0.2s ease-in-out 0.2s;
  transition: opacity 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0.2s;
  transition: opacity 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0.2s,
    -webkit-transform 0.2s ease-in-out 0.2s;
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  transform: rotate(45deg) translate3d(0, 0, 0);
}
.menu--close5.open .menu__line--5 {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out 0.4s,
    -webkit-transform 0.2s ease-in-out 0.4s;
  transition: opacity 0.2s ease-in-out 0.4s,
    -webkit-transform 0.2s ease-in-out 0.4s;
  transition: opacity 0.2s ease-in-out 0.4s, transform 0.2s ease-in-out 0.4s;
  transition: opacity 0.2s ease-in-out 0.4s, transform 0.2s ease-in-out 0.4s,
    -webkit-transform 0.2s ease-in-out 0.4s;
  -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
  transform: rotate(-45deg) translate3d(0, 0, 0);
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm1lbnUuc2NzcyIsIl9taXhpbi5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQVlBO0VBQ0U7RUFDQTtFQUNBO0VBQ0EsT0FiSztFQWNMLFFBZEs7RUFlTDtFQUVBO0VBQ0E7RUFDQTtBQW1EQTs7QUNyQ0E7RUR4QkY7SUFhSTtJQUNBOzs7QUFFRjtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7O0FBR0Y7RUFDRTtFQUNBO0VBQ0E7RUFDQSxPQW5DSTtFQW9DSixRQXJDSztFQXNDTDs7QUNORjtFREFBO0lBU0k7SUFDQTs7O0FBSUo7RUFDRTtFQUNBO0VBQ0E7RUFDQSxRQWhEUTtFQWlEUixrQkFoRFM7RUFpRFQ7O0FBRUE7RUFDRTs7QUFHRjtFQUNFO0VBQ0E7RUFDQTs7QUFHRjtFQUNFOztBQU1KO0VBRUUsS0FwRVc7RUFxRVg7RUFDQTs7QUFJRjtFQUNFO0VBQ0E7O0FBR0Y7RUFDRTtFQUNBOztBQUdGO0VBQ0U7RUFDQTs7QUFHRjtFQUNFO0VBRUE7O0FBR0Y7RUFDRTtFQUVBOztBQU1GO0VBQ0U7RUFDQTs7QUFHRjtFQUNFO0VBQ0E7O0FBR0Y7RUFDRTtFQUNBOztBQUdGO0VBQ0U7RUFDQTtFQUVBOztBQUdGO0VBQ0U7RUFDQTtFQUVBIiwiZmlsZSI6Im1lbnUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiQGNoYXJzZXQgXCJ1dGYtOFwiO1xyXG5cclxuQHVzZSBcIm1peGluXCIgYXMgKjtcclxuJHNpemU6IDU1cHg7XHJcbiRoZWlnaHQ6IDE0cHg7XHJcbiR3aWR0aDogMThweDtcclxuJGxpbmUtc2l6ZTogMnB4O1xyXG4kbGluZS1jb2xvcjogI2ZmZjtcclxuJGxpbmUtcmFkaXVzOiAkbGluZS1zaXplO1xyXG4kdG8tdHJhbnNsYXRlOiBjYWxjKCgkaGVpZ2h0IC0gJGxpbmUtc2l6ZSkgLyAyKTtcclxuJGJvdW5jZTogY3ViaWMtYmV6aWVyKC44NywgLS41LCAuMTksIDEuNSk7XHJcblxyXG4ubWVudSB7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcclxuICB6LWluZGV4OiAxMTtcclxuICBvdmVyZmxvdzogaGlkZGVuO1xyXG4gIHdpZHRoOiAkc2l6ZTtcclxuICBoZWlnaHQ6ICRzaXplO1xyXG4gIGJvcmRlcjogMXB4IHNvbGlkICMzMWIxZDY7XHJcbiAgLy8gYm9yZGVyLXJhZGl1czogNnJlbTtcclxuICBiYWNrZ3JvdW5kOiAjMzFiMWQ2O1xyXG4gIGN1cnNvcjogcG9pbnRlcjtcclxuICB0cmFuc2l0aW9uOiBhbGwgZWFzZSAuM3M7XHJcblxuICBAaW5jbHVkZSBzcDIge1xuICAgIHdpZHRoOiA0NXB4O1xyXG4gICAgaGVpZ2h0OiA0NXB4O1xyXG4gIH1cclxuICAmLS1tZW51bGVmdCB7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgdG9wOiAxMHJlbTtcclxuICAgIHJpZ2h0OiAxMHJlbTtcclxuICAgIHdpZHRoOiA0LjVyZW07XHJcbiAgICAgaGVpZ2h0OiA0LjVyZW07XHJcbiAgfVxyXG5cclxuICAmX19pY29uIHtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgICB0b3A6IDUwJTtcclxuICAgIGxlZnQ6IDUwJTtcclxuICAgIHdpZHRoOiAkd2lkdGg7XHJcbiAgICBoZWlnaHQ6ICRoZWlnaHQ7XHJcbiAgICB0cmFuc2Zvcm06IHRyYW5zbGF0ZSgtNTAlLCAtNTAlKTtcclxuXG4gICAgQGluY2x1ZGUgc3AyIHtcbiAgICAgIHdpZHRoOiAyMHB4O1xyXG4gICAgICBoZWlnaHQ6IDE1cHg7XHJcbiAgICB9XHJcbiAgfVxyXG5cclxuICAmX19saW5lIHtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgICBsZWZ0OiAwO1xyXG4gICAgd2lkdGg6IDEwMCU7XHJcbiAgICBoZWlnaHQ6ICRsaW5lLXNpemU7XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAkbGluZS1jb2xvcjtcclxuICAgIHBvaW50ZXItZXZlbnRzOiBub25lO1xyXG5cclxuICAgICYtLTEge1xuICAgICAgdG9wOiAwO1xyXG4gICAgfVxyXG5cclxuICAgICYtLTIge1xuICAgICAgdG9wOiAwO1xyXG4gICAgICBib3R0b206IDA7XHJcbiAgICAgIG1hcmdpbjogYXV0bztcclxuICAgIH1cclxuXHJcbiAgICAmLS0zIHtcbiAgICAgIGJvdHRvbTogMDtcclxuICAgIH1cbiAgfVxyXG5cclxuICAvKiAtLS0gQ2xvc2UgQnV0dG9uIDUgLS0tICovXHJcblxyXG4gICYtLWNsb3NlNSAmX19saW5lLS00LFxuICAmLS1jbG9zZTUgJl9fbGluZS0tNSB7XG4gICAgdG9wOiAkdG8tdHJhbnNsYXRlO1xyXG4gICAgb3BhY2l0eTogMDtcclxuICAgIHRyYW5zaXRpb246IG9wYWNpdHkgLjJzIGVhc2UtaW4tb3V0LFxyXG4gICAgdHJhbnNmb3JtIC4ycyBlYXNlLWluLW91dDtcclxuICB9XHJcblxyXG4gICYtLWNsb3NlNSAmX19saW5lLS0xIHtcbiAgICB3aWR0aDogMTAwJTtcclxuICAgIHRyYW5zaXRpb246IHdpZHRoIC4ycyBlYXNlLWluLW91dCAuNHM7XHJcbiAgfVxyXG5cclxuICAmLS1jbG9zZTUgJl9fbGluZS0tMiB7XG4gICAgd2lkdGg6IDEwMCU7XHJcbiAgICB0cmFuc2l0aW9uOiB3aWR0aCAuMnMgZWFzZS1pbi1vdXQgLjNzO1xyXG4gIH1cclxuXHJcbiAgJi0tY2xvc2U1ICZfX2xpbmUtLTMge1xuICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgdHJhbnNpdGlvbjogd2lkdGggLjJzIGVhc2UtaW4tb3V0IC4ycztcclxuICB9XHJcblxyXG4gICYtLWNsb3NlNSAmX19saW5lLS00IHtcbiAgICB0cmFuc2l0aW9uOiBvcGFjaXR5IC4ycyBlYXNlLWluLW91dCAuMnMsXHJcbiAgICB0cmFuc2Zvcm0gLjJzIGVhc2UtaW4tb3V0IC4ycztcclxuICAgIHRyYW5zZm9ybTogcm90YXRlKDQ1ZGVnKSB0cmFuc2xhdGUzZCgtJHdpZHRoLCAwLCAwKTtcclxuICB9XHJcblxyXG4gICYtLWNsb3NlNSAmX19saW5lLS01IHtcbiAgICB0cmFuc2l0aW9uOiBvcGFjaXR5IC4ycyBlYXNlLWluLW91dCxcclxuICAgIHRyYW5zZm9ybSAuMnMgZWFzZS1pbi1vdXQ7XHJcbiAgICB0cmFuc2Zvcm06IHJvdGF0ZSgtNDVkZWcpIHRyYW5zbGF0ZTNkKCR3aWR0aCwgMCwgMCk7XHJcbiAgfVxyXG4gIC8vIE9wZW5cclxuICAmLS1jbG9zZTUub3BlbiB7XG4gIH1cclxuXHJcbiAgJi0tY2xvc2U1Lm9wZW4gJl9fbGluZS0tMSB7XG4gICAgd2lkdGg6IDA7XHJcbiAgICB0cmFuc2l0aW9uOiB3aWR0aCAuMnMgZWFzZS1pbi1vdXQ7XHJcbiAgfVxyXG5cclxuICAmLS1jbG9zZTUub3BlbiAmX19saW5lLS0yIHtcbiAgICB3aWR0aDogMDtcclxuICAgIHRyYW5zaXRpb246IHdpZHRoIC4ycyBlYXNlLWluLW91dCAuMXM7XHJcbiAgfVxyXG5cclxuICAmLS1jbG9zZTUub3BlbiAmX19saW5lLS0zIHtcbiAgICB3aWR0aDogMDtcclxuICAgIHRyYW5zaXRpb246IHdpZHRoIC4ycyBlYXNlLWluLW91dCAuMnM7XHJcbiAgfVxyXG5cclxuICAmLS1jbG9zZTUub3BlbiAmX19saW5lLS00IHtcbiAgICBvcGFjaXR5OiAxO1xyXG4gICAgdHJhbnNpdGlvbjogb3BhY2l0eSAuMnMgZWFzZS1pbi1vdXQgLjJzLFxyXG4gICAgdHJhbnNmb3JtIC4ycyBlYXNlLWluLW91dCAuMnM7XHJcbiAgICB0cmFuc2Zvcm06IHJvdGF0ZSg0NWRlZykgdHJhbnNsYXRlM2QoMCwgMCwgMCk7XHJcbiAgfVxyXG5cclxuICAmLS1jbG9zZTUub3BlbiAmX19saW5lLS01IHtcbiAgICBvcGFjaXR5OiAxO1xyXG4gICAgdHJhbnNpdGlvbjogb3BhY2l0eSAuMnMgZWFzZS1pbi1vdXQgLjRzLFxyXG4gICAgdHJhbnNmb3JtIC4ycyBlYXNlLWluLW91dCAuNHM7XHJcbiAgICB0cmFuc2Zvcm06IHJvdGF0ZSgtNDVkZWcpIHRyYW5zbGF0ZTNkKDAsIDAsIDApO1xyXG4gIH1cbn1cclxuIiwiQGNoYXJzZXQgXCJ1dGYtOFwiO1xuXG5AbWl4aW4gc3Age1xuICBAbWVkaWEgb25seSBzY3JlZW4gYW5kICh3aWR0aCA8PSA3NjdweCkge1xuICAgIEBjb250ZW50O1xuICB9XG59XG5cbkBtaXhpbiBsYXB0b3Age1xuICBAbWVkaWEgb25seSBzY3JlZW4gYW5kICh3aWR0aCA8PSAxNjAwcHgpIHtcbiAgICBAY29udGVudDtcbiAgfVxufVxuXG5AbWl4aW4gdGIge1xuICBAbWVkaWEgb25seSBzY3JlZW4gYW5kICh3aWR0aCA+PSA3NjhweCkgYW5kICh3aWR0aCA8PSAxMDI0cHgpIHtcbiAgICBAY29udGVudDtcbiAgfVxufVxuQG1peGluIHRiMiB7XG4gIEBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1heC13aWR0aDogMTAyNHB4KSB7XG4gICAgQGNvbnRlbnQ7XG4gIH1cbn1cbkBtaXhpbiB0YjMge1xuICBAbWVkaWEgb25seSBzY3JlZW4gYW5kIChtaW4td2lkdGg6IDEwMjVweCkgYW5kIChtYXgtd2lkdGg6IDExOTlweCkge1xuICAgIEBjb250ZW50O1xuICB9XG59XG5AbWl4aW4gdGIyIHtcbiAgQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAod2lkdGggPD0gMTAyNHB4KSB7XG4gICAgQGNvbnRlbnQ7XG4gIH1cbn1cblxuQG1peGluIHNwMiB7XG4gIEBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKHdpZHRoIDw9IDQ2MHB4KSB7XG4gICAgQGNvbnRlbnQ7XG4gIH1cbn1cblxuQG1peGluIHBjIHtcbiAgQG1lZGlhIHByaW50LCBzY3JlZW4gYW5kICh3aWR0aCA+PSA3NjhweCkge1xuICAgIEBjb250ZW50O1xuICB9XG59XG5cbkBtaXhpbiBwcmludCB7XG4gIEBtZWRpYSBwcmludCB7XG4gICAgQGNvbnRlbnQ7XG4gIH1cbn1cbiJdfQ== */
