:root {
  --transition: all 0.3s ease;
}

body #wrapper:after {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  content: "";
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
}

body.no-scroll #wrapper:after {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

body #wrapper:after {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  content: "";
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
}
