/* Leaflet Map Styles */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.leaflet-control-container {
  z-index: 2;
}

.leaflet-popup-content-wrapper {
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.leaflet-popup-content {
  margin: 0.75rem;
}

.leaflet-popup-tip-container {
  margin-top: -1px;
}

.leaflet-popup-tip {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* Custom Marker Icon Styles */
.custom-marker-icon {
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.2));
  transition: transform 0.2s;
}

.custom-marker-icon:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 2px 4px rgb(0 0 0 / 0.3));
}
